# Site settings
lang: "en-US"
title: "Nathan Jessen"
email: nathan.jessen@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  "Blog and Portfolio of Nathan Jessen"
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
categories_path: categories.html
tags_path: tags.html
rss_path: atom.xml

header_pages:
  - _pages/index.html
  - _pages/about.html
  - _pages/projects.html
  - _pages/posts.html

# Build settings
# theme: blogtheme
remote_theme: benbalter/retlab

####################
# Plugins
####################
# whitelist: []
plugins:
  - jekyll-remote-theme
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-sitemap

# Build settings
# theme: blogtheme
# remote_theme: nathanjessen/blogtheme

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
exclude:
  - Gemfile
  - Gemfile.lock
  - gulpfile.babel.js
  - LICENSE.md
  - node_modules
  - package.json
  - package-lock.json
  - README.md
  - src
  - tailwind.config.js
  - vendor

# include:

####################
# Filtering Content
####################
# show_drafts: null
# limit_posts: 10
# future: false
# unpublished: false

####################
# Conversion
####################
# markdown: kramdown
# excerpt_separator: "\n\n"

####################
# Serving
####################
# detach: false
# port: 4000
# host: 127.0.0.1
# show_dir_listing: false

####################
# Outputting
####################
permalink: ":categories/:title/"
# paginate_path: /page:num
timezone: "America/Denver"
verbose: false
####################
# Where things are
####################
# destination: ./_site
# plugins_dir: _plugins
# layouts_dir: _layouts
# data_dir: _data
# includes_dir: _includes
collections:
  posts:
    output: true
  pages:
    output: true
    permalink: /:name/
  projects:
    output: false

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: post
  - scope:
      path: "_pages"
      scope: "pages"
    values:
      layout: "page"
  - scope:
      path: "_projects"
      type: "projects"
    values:
      layout: "page"
  - scope:
      path: ""
    values:
      layout: "default"

####################
# Markdown Processor
####################
kramdown:
  syntax_highlighter: rouge

####################
# Other
####################

# Liquid profiler - Generate a Liquid rendering profile to help you identify performance bottlenecks.
profile: false

####################
# Personal Information
####################

author: Nathan Jessen
logo: /assets/images/wasp.png

# Google Analytics
ga_domain: nathanjessen.github.io
ga_tracking_id: UA-42437510-1

# Social
# facebook_url: https://facebook.com/
github_url:  https://github.com/nathanjessen
twitter_url: https://twitter.com/natejessen
linkedin_url: https://www.linkedin.com/in/njessen/
# codepen_url: https://codepen.io/njessen
# medium_url: https://medium.com/@nathanjessen/about
# instagram_url: https://www.instagram.com/nathanjessen
# dribbble_url: https://dribbble.com/
# angellist_url: https://angel.co/u/nathan-jessen

# jekyll-seo-tag - social profiles
social:
  links:
    - https://github.com/nathanjessen
    # - https://codepen.io/njessen
    # - https://medium.com/@nathanjessen/about
    - https://www.linkedin.com/in/njessen/
