/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/

$white: #fafafa;
$white-off: #e0e0e0;
$gray-light: #f3f0f0;
$gray: #444;
$gray-dark: #333;
$black: #212121;

$green-flat: #1bbc9b;
$blue-flat: #3498db;
$teal-flat: #389ebc;
$red-flat: #e96151;

$footer-height: 50px;
$slab-padding: 1em 0;

// Brand Colors
$brand-colors: (
	primary: $green-flat,
	secondary: $blue-flat,
	tertiary: $teal-flat,
	quaternary: $red-flat
);

$header-bg: $blue-flat;
// $header-bg: map-get($brand-colors, primary);
$footer-bg: $black;
$fontello-color: lighten($blue-flat, 60);
