/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/

$white: #fff;
$white-off: #e0e0e0;
$gray-light: #f3f0f0;
$gray: #444;
$gray-dark: #333;
$black: #212121;

$blue-link: #39f;
$link-color: $gray;
$link-color-hover: $blue-link;

$green-flat: #1bbc9b;
$blue-flat: #3498db;
$teal-flat: #389ebc;
$red-flat: #e96151;


// Brand Colors
$brand-colors: (
	primary: $green-flat,
	secondary: $blue-flat,
	tertiary: $teal-flat,
	quaternary: $red-flat
);

$header-bg: $white;
// $header-bg: map-get($brand-colors, primary);
$fontello-color: $black;
