<div class="bg-white">
  <div class="max-w-screen-xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="text-center">
      <h2 class="mt-1 text-4xl leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none sm:tracking-tight lg:text-6xl">
        Nathan
        <br class="xl:hidden">
        <span class="text-green-600">Jessen</span>
      </h2>
      <!-- <h1 class="text-base leading-6 font-semibold text-indigo-600 tracking-wide uppercase">Pricing</h1> -->
      <!-- <p class="mt-1 text-4xl leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none sm:tracking-tight lg:text-6xl">Take control of your team.</p> -->
      <p class="max-w-xl mt-5 mx-auto text-xl leading-7 text-gray-500">Front-end engineer with experience in fast static sites and modern web applications, currently focusing on React, Redux and Web3.</p>
      <div class="mt-5 max-w-md mx-auto sm:flex sm:justify-center md:mt-8">
        <div class="rounded-md shadow">
          <a href="https://github.com/nathanjessen" target="_blank" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-green-600 hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10">
            Visit GitHub
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
