<div class="py-12 bg-white">
    <div class="max-w-xl mx-auto px-4 sm:px-6 lg:max-w-screen-xl lg:px-8">
      <div class="lg:grid lg:grid-cols-3 lg:gap-8">
        <div>
          <div class="flex items-center justify-center rounded-md bg-gray-100 text-white p-2">
            <img src="assets/images/tokenlist.png" alt="Tokenlist" class="h-64 w-100" />
          </div>
          <div class="mt-5">
            <h5 class="text-lg leading-6 font-medium text-gray-900">Uniswap Tokenlist</h5>
            <p class="mt-2 text-base leading-6 text-gray-500">
                An initiative to improve discoverability, reputation and trust in ERC20 token lists in a manner that is inclusive, transparent, and decentralized.
            </p>
            <p class="mt-2 text-base leading-6 text-green-600">
                <a href="https://github.com/nathanjessen/tokenlist" target="_blank">View Source Code</a>
            </p>
          </div>
        </div>
        <div>
          <div class="flex items-center justify-center rounded-md bg-gray-100 text-white p-2">
            <div class="h-64 flex items-center">
            </div>
          </div>
          <div class="mt-5">
            <h5 class="text-lg leading-6 font-medium text-gray-900">Tokenlist Viewer with Uniswap Integration</h5>
            <p class="mt-2 text-base leading-6 text-orange-400">
                In Progress
            </p>
            <!-- <p class="mt-2 text-base leading-6 text-green-600">
                <a href="https://github.com/TrustSwap-fun/launchpad" target="_blank">See on GitHub</a>
            </p> -->
          </div>
        </div>
        <div>
          <div class="flex items-center justify-center rounded-md bg-gray-100 text-white p-2">
            <div class="h-64 flex items-center">
              <img src="assets/images/opensea.png" alt="UniSwap Tokenlist" class="h-32" />
            </div>
          </div>
          <div class="mt-5">
            <h5 class="text-lg leading-6 font-medium text-gray-900">OpenSea Market</h5>
            <p class="mt-2 text-base leading-6 text-orange-400">
                On Deck
            </p>
            <!-- <p class="mt-2 text-base leading-6 text-green-600">
                <a href="https://github.com/TrustSwap-fun/launchpad" target="_blank">See on GitHub</a>
            </p> -->
          </div>
        </div>
        <!-- <div class="mt-10 lg:mt-0 relative">
            <div class="absolute inset-0 flex items-center justify-center text-center rounded-md border-gray-900 border-2 border-dashed opacity-25">
                Coming Soon
            </div>
        </div> -->
      </div>
    </div>
  </div>
