<section class="features text-center section-padding" id="features">
  <div class="container-fluid">
    <h1>Specializations</h1>

    <div class="row features-wrapper">
      <div class="col-md-4 feature">
        <div class="feature__icon">
          <i class="icon-laptop"></i>
        </div>
        <h2 class="heading-underline">Responsive Web Design</h2>
        <p>I build fully responsive, interactive web sites.</p>
      </div>

      <div class="col-md-4 feature">
        <div class="feature__icon">
          <i class="icon-code"></i>
        </div>
        <h2 class="heading-underline">CSS Development</h2>
        <p>My true passion is for CSS development and you can bet I have read all the latest CSS specifications and experimented with them.</p>
      </div>

      <div class="col-md-4 feature">
        <div class="feature__icon">
          <i class="icon-heart"></i>
        </div>
        <h2 class="heading-underline">Performance Audits</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem.</p>
      </div>
    </div>
  </div>
</section>
