<header class="pv4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <button class="dark--toggle" aria-label="Toggle dark mode"></button>
      </div>

      <div class="col-xs-12 col-md-6">
        <nav class="flex flex-column items-end">
          <a href="{{ site.base_url }}/" class="link black-80 i ttu mb2 {% if page.permalink == '/index.html' %}fw6{% endif %}">Nathan Jessen</a>
          <a href="{{ site.base_url }}/projects/" class="link primary i ttu mb2 {% if page.title == 'Projects' %}fw6{% endif %}">Projects</a>
          <a href="{{ site.base_url }}/about/" class="link primary i ttu mb2 {% if page.title == 'About' %}fw6{% endif %}">About</a>
        </nav>
      </div>
    </div>
  </div>
</header>
