<section class="intro text-center section-padding" id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 wp1">
        <h1 class="arrow">About Me</h1>
        <p>I've been developing front-ends for almost 4 years now. My passion is for CSS development (and any CSS preprocessor especially Sass and Stylus) and front-end architecture. I love tools like Grunt, Gulp and static site generators and I get excited when I find a great new task to run in my workflow. Most of my development is for <a href="http://www.vml.com" target="_blank">VML</a> but I try to find time to develop my own projects on the side and contribute to open-source projects on GitHub.</p>
      </div>
    </div>
  </div>
</section>
