<nav class="flex flex-column items-end">
  {% if site.githubs.username %}
  <a href="https://github.com/{{ site.githubs.username }}" target="_blank" class="link primary i ttu mb2">
    GitHub
  </a>
  {% endif %}{% if site.codepen.username %}
  <a href="http://codepen.io/{{ site.codepen.username }}" target="_blank" class="link primary i ttu mb2">
    CodePen
  </a>
  {% endif %}{% if site.twitter.username %}
  <a href="https://twitter.com/{{ site.twitter.username }}" target="_blank" class="link primary i ttu mb2">
    Twitter
  </a>
  {% endif %}{% if site.medium.username %}
  <a href="https://medium.com/{{ site.medium.username }}" target="_blank" class="link primary i ttu mb2">
    Medium
  </a>
  {% endif %}{% if site.linkedin.username %}
  <a href="https://www.linkedin.com/in/{{ site.linkedin.username }}" target="_blank" class="link primary i ttu mb2">
    LinkedIn
  </a>
  {% endif %}{% if site.gplus.username %}
  <a href="https://plus.google.com/+{{ site.gplus.username }}/posts" target="_blank" class="link primary i ttu mb2">
    Google Plus
  </a>
  {% endif %}{% if site.instagram.username %}
  <a href="https://www.instagram.com/{{ site.instagram.username }}/" target="_blank" class="link primary i ttu mb2">
    Instagram
  </a>
  {% endif %}{% if site.dribbble.username %}
  <a href="https://dribbble.com/{{ site.dribbble.username }}" target="_blank" class="link primary i ttu mb2">
    Dribbble
  </a>
  {% endif %}{% if site.angellist.username %}
  <a href="https://angel.co/{{ site.angellist.username }}" target="_blank" class="link primary i ttu mb2">
    AngelList
  </a>
  {% endif %}
</nav>
