<ul class="social-buttons">
	<li><a href="{{ site.githubs }}" class="social-btn" target="_blank"><i class="fa fa-github"></i><span class="sr-only">GitHub</span></a></li>
	<li><a href="{{ site.twitter }}" class="social-btn" target="_blank"><i class="fa fa-twitter"></i><span class="sr-only">Twitter</span></a></li>
	<li><a href="{{ site.linkedin }}" class="social-btn" target="_blank"><i class="fa fa-linkedin"></i><span class="sr-only">LinkedIn</span></a></li>
	<li><a href="{{ site.gplus }}" class="social-btn" target="_blank"><i class="fa fa-google-plus"></i><span class="sr-only">Google Plus</span></a></li>
</ul>
