/* ==========================================================================
CTA
========================================================================== */

.ignite-cta {
    background-color: #242830;
    padding: 70px 0;
}

.ignite-btn {
    border: solid 1px $white;
    color: $white;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 25px 40px;
    text-transform: uppercase;
}

.ignite-btn:hover,
.ignite-btn:focus {
    border: solid 1px #3dc9b3;
    color: #3dc9b3;
}
