/* ==========================================================================
Navigation
========================================================================== */

nav {
    background-color: #242830;
    margin-top: -1px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.6);
    display: block;
    padding-left: 0;
    position: relative;
    transition: all 0.5s ease;
}

nav ul li:last-child {
    border: none;
}

nav ul li a {
    color: rgba(255, 255, 255, 0.6);
    display: block;
    padding: 20px 20px 20px 0;
    position: relative;
    transition: all 0.5s ease;
}

nav ul li a:hover,
nav ul li a:focus {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

#nav-toggle {
    position: absolute;
    right: 15px;
    top: 0;
}

#nav-toggle {
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    background: #353535;
    border-radius: 1px;
    content: '';
    cursor: pointer;
    display: block;
    height: 5px;
    position: absolute;
    width: 35px;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    transition: all 500ms ease-in-out;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    top: 10px;
    transform: translateY(-10px) rotate(-45deg);
}

.navicon {
    height: 26px;
    position: relative;
}

.indicator {
    position: absolute;
    right: 0 !important;
}

.pull {
    display: none;
}
