/* ==========================================================================
Posts
========================================================================== */

.posts {
	list-style: none;
	padding-left: 0;

	li {
		margin-bottom: 20px;
	}

	p {
		margin-top: 0;
	}
}
