/* ==========================================================================
Swag
========================================================================== */

.swag {
    background: url('../assets/img/keyboard-bg.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 50px 0;
}

.swag h1 {
    color: $white;
    font-size: 40px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.swag h1 span {
    display: block;
    font-size: 25px;
    margin-top: 20px;
}

.down-arrow-btn {
    background: rgba(61, 201, 179, 0.8);
    border-radius: 50%;
    color: $white;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin: 10px auto 20px;
    text-align: center;
    width: 40px;
}

.down-arrow-btn:hover,
.down-arrow-btn:focus {
    background: rgba(61, 201, 179, 1);
    color: $white;
}
