
.single-content {
	font-family: 'Lora', Georgia, serif;
	overflow: hidden;
	padding: 0 40px;
	z-index: 1;
}

.single-content .feat {
	border-bottom: 1px dotted #E0E1E6;
	margin: 0 20px 50px;
	text-align: center;

	h5.page-date {
		background: $white;
		display: inline-block;
		font-size: 85%;
		font-style: italic;
		font-weight: normal;
		margin-bottom: 0;
		padding: 0 20px;
		position: relative;
		text-align: center;
		top: 11px;
	}
	a.popup {
		display: inline-block;
		font-size: 24px;
		padding: 0 25px;
		position: relative;
		text-align: center;
		text-decoration: none;
		top: 15px;
		-webkit-transition: all .2s ease;
		transition: all .2s ease;
	}
}

.single-content #share {
	margin: 50px 20px;
}

.single-content p {
	padding: 0 40px;
}

.single-content {
	ul,
	ol {
		padding: 10px 80px;

		li {
			margin-bottom: 15px;
		}
	}
}

.single-content {
	h1.page-title {
		font-family: 'Open Sans', sans-serif;
		font-size: 180%;
		line-height: 135%;
		margin: 0 0 60px;
		padding: 0 40px;
		text-align: center;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-top: 40px;
		padding: 0 40px;
	}
	h1 {
		font-size: 150%;
	}
	h2 {
		font-size: 140%;
		font-style: italic;
	}
	h3 {
		font-size: 130%;
		font-weight: lighter;
	}
	h4 {
		font-size: 120%;
		font-weight: lighter;
		text-align: center;
		text-decoration: underline;
	}
	h5 {
		font-size: 110%;
	}
	h6 {
		font-size: 100%;
	}
}

.single-content p {
	line-height: 160%;
}

.single-content blockquote {
	border-left: 6px solid #39f;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-size: inherit;
	line-height: 165%;
	margin: 40px 0;
	padding: 0 34px;

	p {
		padding-left: 0!important;
		padding-right: 0!important;
	}
}

.single-content img {
	height: 100%;
	width: 100%;
}


/* Viewport width < 480px */

@media only screen and (max-width : 479px) {

	.single-content {
		padding: 0 20px;

		h1.page-title {
			margin: 0 0 30px;
			padding: 0 20px;
		}

		p {
			padding: 0 20px;
		}

		ul,
		ol {
			padding: 10px 0 10px 35px;
		}

		h1, h2, h3, h4, h5, h6 {
			margin-top: 30px;
			padding: 0 20px;
		}

		blockquote {
			border-left: 4px solid #39f;
			padding: 0 20px;
		}
	}
}