/*
 * Base
 */

html, body {
	width: 100%;
	height: 100%;
}

html {
	font: 112%/1.5 "Open Sans", sans-serif;
}

body {
	background: $white;
	color: $gray;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}

/* Viewport width < 920px */

@media only screen and (max-width : 919px) {
  body { font-size: 17px; }
}

/* Viewport width < 480px */
@media only screen and (max-width : 479px) {
  body { font-size: 15px; }
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
	color: $gray-dark;
}

p, small, blockquote { -webkit-font-smoothing: antialiased; }

a {
	&:link,
	&:visited {
		color: $link-color;
		text-decoration: none;
	}

	&:active,
	&:hover {
		color: $link-color-hover;
	}
}

.wrap {
	margin: 20px auto;
	// margin: 0 auto;
	max-width: 780px;
	padding: 0 5%;
	width: 100%;
}

.page-content {
	a:not(.btn) {
		&:link,
		&:visited {
			border-bottom: 1px dotted $gray-light;
		}

		&:active,
		&:hover {
			border-bottom-color: $gray-dark;
		}
	}
}

.site-footer {
	padding: 40px;
	text-align: center;

	.nav {
		margin-bottom: 5px;
	}
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	color: $fontello-color;
}

.sr-only {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.nav{
    list-style:none;
    margin-left:0;

    > li{

        &,
        > a{
            display:inline-block;
           *display:inline;
            zoom:1;
        }
    }
}

.nav--block{
    line-height:1;
    /**
     * Remove whitespace caused by `inline-block`.
     */
    letter-spacing:-0.31em;
    word-spacing:-0.43em;
    white-space:nowrap;

    > li{
        letter-spacing:normal;
        word-spacing:normal;

        > a{
            padding:10px;
        }
    }
}