/*
 * Base
 */


html {
	font: 112%/1.5 "Open Sans", sans-serif;
}

body {
	color: $gray;
	font-size: 20px;
}

header {
	text-align: center;
	border-top: 3px solid $green;
}

.wrap {
	margin: 0 auto;
	max-width: 640px;
	padding: 0 5%;
}

@include sticky-footer($footer-height, '.page-wrap', '.site-footer');

.site-footer {
	background: $white-off;
	line-height: $footer-height;
}

/**
 * Headings
 */

h1, h2, h3, h4 {
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
}

.headshot {
	border-radius: 100%;
	border: 3px solid $green;
	padding: 3px;
}
