
.btn {

	&:link,
	&:visited {
		color: $white;
	}

	@each $modifier, $color in $brand-colors {
		&--#{$modifier} {
			background: darken($color, 15);

			&:active,
			&:hover {
				background: darken($color, 24);
			}
		}
	}
}
