
ul.posts {
	color: #236CC1;
	margin: 0;
	overflow: hidden;
}

ul.posts li {
	border-bottom: 1px solid #4492EC;
	display: inline-block;
	width: 100%;

	&:last-child {
		border-bottom: none;
	}

	.p-wrap {
		background: #589FF1;
		padding: 50px 40px;
		transition: all .15s ease-in;

		&:hover {
			background: #67AAF7;
			padding-left: 50px;

			&::after {
				content:'\2192';
				margin-left: 10px;
			}
		}
		&:active {
			background: #569BEA;
		}

		p {
			display: inline;
			margin-bottom: 0;
		}
	}

	.date {
		color: #2671C8;
		padding-right: 20px;
	}
	a {
		color: #fff;
		text-decoration: none;
	}
}

/* Viewport width < 920px */

@media only screen and (max-width : 919px) {

	ul.posts li .p-wrap {
		padding: 30px;

		&:hover {
			padding-left: 40px;

			&::after {
				content: none;
				margin: 0;
			}
		}

		p {
			display: block;
		}
	}
}


/* Viewport width < 480px */

@media only screen and (max-width : 479px) {

	ul.posts li .p-wrap { padding: 20px;
	}
	ul.posts li .p-wrap:hover { background: #67AAF7;
		padding-left: 20px;
}
}