$slab-padding: 3em 0;
$slabs: (
	white: $white,
	teal: $teal-dark
);

%slab {
	border-bottom: 1px solid $gray-light;
	padding: $slab-padding;
}

.slab {
	@extend %slab;

	@each $modifier, $color in $slabs {
		&--#{$modifier} {
			background: $color;
		}
	}
}
