$slab-padding: 4em 0 3em;
$slab-bg: $white-off;
$slabs: (
	cover: $white-off,
	alternate: $alternate,
	green: $green,
	blue: $blue
);

%slab {
	padding: $slab-padding;
}

.slab {
	@extend %slab;
	background: $slab-bg;

	@each $modifier, $color in $slabs {
		&--#{$modifier} {
			@extend %slab;
			background: $color;
		}
	}
}
