/*
 * Table of contents:
 *
 * Base
 * Scaffolding
 * Lists
 */


/*
 * Base
 */

body {
	background: #f2f2f2;
	font-size: 20px;
	line-height: 1.5;
}

p, ul, ol, blockquote {
	margin-bottom: 30px;
}

h1, h2, h3, h4 {
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
}

a, a:focus, a:visited {
	background: transparent;
	color: #2980b9;
	text-decoration: none;
}
a:hover {
	color: #3498db;
	text-decoration: underline;
}

/*
 * Scaffolding
 */
.wrap {
	margin: 0 auto;
	width: 640px;
}

/*
 * Lists
 */
.no-disc {
	list-style: none;
	margin: 0;
	padding: 0;
}

.inline-list li {
	float: left;
}

.block-links a {
	color: #fff;
	display: block;
}

.brand-logo {
	float: left;
}

#top {
	background: #292929;
	border-bottom: 6px solid #3498db;
	height: 70px;
}

#top li {
	margin-left: 50px;
}

.brand-logo,
#top li {
	font-weight: bold;
	font-size: 14px;
	line-height: 70px;
	text-transform: uppercase;
}
