/* ==========================================================================
Contact
========================================================================== */

.up-btn {
  background: rgba(61, 201, 179, 0.5);
  border-radius: 50%;
  color: $white;
  display: block;
  font-size: 18px;
  height: 50px;
  left: 0;
  line-height: 46px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: -26px;
  width: 50px;
}

.up-btn:hover,
.up-btn:focus {
  background: rgba(61, 201, 179, 1);
  color: $white;
}

.contact-details {
  margin: 70px 0;
}

.contact-details h2 {
  font-size: 20px;
}

.contact-details h2 span {
  color: #3dc9b3;
  display: block;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 15px;
  text-transform: uppercase;
}

.contact-wrap {
  position: relative;
}
