/* ==========================================================================
iPhone Section
========================================================================== */

.responsive-services {
  background: #f3f5f8;
  box-shadow: inset -15px -11px 40px -6px rgba(0, 0, 0, 0.1);
  padding-top: .625rem;
  padding-bottom: 2rem;
}
