/* ==========================================================================
Portfolio
========================================================================== */

.featured {
  margin-bottom: 30px;
}

.effects {
    padding-left: 15px;
}

.effects .img {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.effects .img:nth-child(n) {
    margin-right: 5px;
}

.effects .img:first-child {
    margin-left: -15px;
}

.effects .img:last-child {
    margin-right: 0
}

.effects .img img {
    display: block;
    height: auto;
    margin: 0;
    padding: 0;
}

.overlay {
    background: rgba(100, 194, 158, 0.8);
    display: block;
    overflow: hidden;
    position: absolute;
    transition: all 0.5s;
    z-index: 20;
}

a.close-overlay {
    background-color: $black;
    color: $white;
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: 700;
    height: 45px;
    line-height: 45px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 45px;
    z-index: 100;
}

a.close-overlay.hidden {
    display: none;
}

a.expand {
    color: $white;
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    z-index: 100;
}

.overlay-effect .img i {
    font-size: 30px;
}

.overlay-effect .overlay {
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    right: 0;
    width: 100%;
}

.overlay-effect .overlay a.expand {
    bottom: 47%;
    left: 0;
    margin: 0 auto -30px auto;
    right: 0;
}

.overlay-effect .img.hover .overlay {
    height: 100%;
    opacity: 1;
}

.img img {
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(-40px, 0, 0);
    width: -webkit-calc(100% + 40px) !important;
    width: calc(100% + 40px) !important;
}

.img:hover img {
    transform: translate3d(0, 0, 0);
}

.designs {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    top: 50px;
}
