/** Backgrounds */

.bg-white {
  background-color: var(--white);
}

.bg-white-off {
  background-color: var(--white-off);
}

.bg-gray-light {
  background-color: var(--gray-light);
}

.bg-gray {
  background-color: var(--gray);
}

.bg-gray-dark {
  background-color: var(--gray-dark);
}

.bg-brand-primary {
  background-color: var(--brand-primary);
}

.bg-brand-secondary {
  background-color: var(--brand-secondary);
}
