/** Buttons */

button {
  border: 1px solid var(--button-bg);
  background-color: var(--button-bg);
  color: var(--button-color);
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5em 1em;

  &:hover {
    background-color: var(--button-bg-hover);
    border-color: var(--button-bg-hover);
    color: var(--button-color-hover);
  }
}

.button-primary {
  --button-bg: var(--brand-primary);
  --button-bg-hover: #08f;
}

.button-secondary {
  --button-bg: var(--brand-secondary);
  --button-bg-hover: #c0c;
}

.button-ghost {
  --button-bg: transparent;
  --button-color-hover: #fff;

  border-color: currentColor;

  &:hover {
    background-color: var(--button-color);
    border-color: var(--button-color);
  }
}
