/** Root: CSS Variables */

:root {
  /* 1. Colors */
  --white: #fff;
  --white-off: #e0e0e0;
  --gray-light: #f3f0f0;
  --gray: #444;
  --gray-dark: #333;

  --brand-primary: #3494E6;
  --brand-secondary: #36D7B7;

  --body-bg: #fff;

  /* 2. Links */
  --link-color: #3494E6;
  --link-color-hover: #004e92;

  /* Buttons */
  --button-bg: #ddd;
  --button-bg-hover: #ccc;
  --button-color: #000;
  --button-color-hover: #000;
}
