/* ==========================================================================
iPhone Section
========================================================================== */

.iphone {
    background: #f3f5f8;
    box-shadow: inset -15px -11px 40px -6px rgba(0, 0, 0, 0.1);
    float: left;
    height: 100%;
    width: 50%;
    z-index: 1;
}

.wp3 {
    background: url('../img/iphone-bg.png') no-repeat 200px 10px;
    height: 100%;
}

.fluid-white {
    background: $white;
    float: right;
    height: 100%;
    width: 50%;
    z-index: 2;
}

.responsive-services {
    position: relative
}
