/* ==========================================================================
Subscribe
========================================================================== */

.subscribe {
    background: url('../img/plants-bg.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 120px 0 140px;
}

.subscribe h1 {
    color: $white;
    margin-bottom: 40px;
}

.subscribe h1 span {
    display: block;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 20px;
    text-transform: uppercase;
}

.subscribe input[type=text] {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px $white;
    color: $white;
    padding: 20px;
    width: 30%;
}

.subscribe input[type=submit] {
    background: rgba(61, 201, 179, 0.5);
    border: solid 1px rgba(61, 201, 179, 0.5);
    color: $white;
    letter-spacing: 1px;
    padding: 20px;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.subscribe input[type=submit]:hover {
    background: rgba(61, 201, 179, 1);
    border: solid 1px rgba(61, 201, 179, 1);
    color: $white;
}
