<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body class="{{ page.slug }}">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/?locale=en/">upgrade your browser</a>. Your experience won't be effected on this site but upgrading your browser is always a great idea!</p>
    <![endif]-->

    <header id="top" class="" role="banner">
      <div class="banner cf">
        {% include nav-main.html %}
      </div>
    </header>

    <main class="wrap" role="main">
      <h3>{{ page.title }}</h3>
      {{ content }}
    </main>

    <footer class="wrap" role="contentinfo">
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.author }}</p>
    </footer>

    <!-- JS and analytics only. -->
    {% include scripts.html %}

  </body>
</html>