<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header.html %}
    <!-- Place anything custom after this. -->
  </head>
  <body>
    <a class="sr-only" href="#content">Skip navigation</a>
    {% include nav/nav-main.html %}

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="bs-sidebar hidden-print" role="complementary">
            <ul class="nav bs-sidenav">
                {% include nav/nav-social.html %}
            </ul>
          </div>
        </div>
        <div class="col-md-9" role="main">
          {{ content }}
        </div>
      </div>

    </div>

    <!-- Footer
    ================================================== -->
    <footer class="bs-footer" role="contentinfo">
      <div class="container">
        <p>Hosted on <a href="https://pages.github.com">GitHub Pages</a></p>
      </div>
    </footer>

    <!-- JS and analytics only. -->
    {% include footer.html %}

  </body>
</html>
