<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body id="top" class="{{ page.slug }}">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/?locale=en/">upgrade your browser</a>. Your experience won't be effected on this site but upgrading your browser is always a great idea!</p>
    <![endif]-->


    {% include header.html %}

    {{ content }}

    {% include contact.html %}
    {% include footer.html %}

    <!-- JS and analytics only. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ site.base_url }}assets/js/main.min.js"></script>
  </body>
</html>