/** Animations */

@keyframes scale-in {
  0% {
    opacity: 0;
    transform: scale(.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-90px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeftLess {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes hovering {
  0% {
    transform:translate(0, 0);
  }
  50% {
    transform:translate(0, 7px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes hoverSmall {
  0% {
    transform:translate(0, 0);
  }
  50% {
    transform:translate(0, 2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slide {
  0% {
    bottom: -18%;
    opacity: 0;
  }
  100% {
    bottom: -15%;
    opacity: 1;
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-80px) scale(1);
  }
  20% {
    opacity: 1;
    transform: translateY(20px) scaleX(1.05) scaleY(.92);
  }
  40% {
    transform: translateY(10) scaleX(.99) scaleY(1.0);
  }
  60%, 100% {
    transform: translateY(0) scale(1);
  }
}

.scale {
  animation: .6s cubic-bezier(0.56, -0.01, 0, 1) 0s 1 both scale-in;
}

.scale-quick {
  animation: .5s cubic-bezier(0.56, -0.01, 0, 1) 0s 1 both scale-in;
}

.fade-in {
  animation: .5s cubic-bezier(.05,.35,1,.55) fadeInDown;
}

.fade-in-up {
  animation: .5s cubic-bezier(.05,.35,1,.55) fadeInUp;
}

.left-slide {
  animation: 1.1s cubic-bezier(0.7, -0.005, .1, 1) .25s both fadeInLeft;
}

.left-slide-less {
  animation: .8s cubic-bezier(0.7, -0.005, .1, 1) 1.2 both fadeInLeftLess;
}

.hovering {
  animation: 3s ease-in-out 1.3s infinite hovering;
}

.slide {
  animation: .9s cubic-bezier(0.5, -0.005, .1, 1) slide;
}

.bounce-down {
  animation: .9s cubic-bezier(0.5, -0.005, .1, 1) bounceInDown;
}
