/**
CTA
*/

.ignite-cta {
  background-color: #242830;
  padding: 70px 0;
}

.ignite-btn {
  border: 1px solid currentColor;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 25px 40px;
  text-transform: uppercase;

  &:hover,
  &:focus {
    border: 1px solid currentColor;
    color: #3dc9b3;
  }
}
