/** Misc */

.webfonts-loaded body {
  font-family: 'Raleway';
}

.article a {
  color: #357edd;
  text-decoration: none;

  &,
  &:active,
  &:focus,
  &:hover,
  &:link,
  &:visited {
    transition: color .15s ease-in;
  }

  &:focus,
  &:hover {
    color: #00449e;
  }
}

.heading-underline {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;

  &::after {
    border: solid 2px #357edd;
    content: " ";
    display: block;
    margin: 25px auto;
    width: 35px;
  }
}

.feature-icon {
  --icon-size: 100px;
  border-radius: 50%;
  display: block;
  font-size: calc(var(--icon-size) / 3);
  height: var(--icon-size);
  line-height: var(--icon-size);
  margin: 0 auto 50px;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-shadow: rgb(0,78,146) 2px 2px;
  vertical-align: middle;
  width: var(--icon-size);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.social-btn {
  border-radius: 50%;
  display: inline-block;
  font-size: 1rem;
  height: 40px;
  line-height: 40px;
  margin-bottom: .5rem;
  text-align: center;
  width: 40px;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999;
  border-radius: 10px;

  &:empty {
    display: none;
  }
}

.img-responsive {
  max-width: 100%;
  height: auto;
}
