/** Misc */

:root {
  --primary: #255582;
}

.primary {
  color: var(--primary);
}

.hover-dark-primary:hover {
  color: darken(var(--primary), 10%);
}

.bg-primary {
  background-color: var(--primary);
}

.hover-bg-primary:hover {
  background-color: var(--primary);
}

.has-webfonts-loaded body {
  font-family: 'Raleway';
}

nav a.active::after {
  background-image: linear-gradient(to right, #1de9b6, #2979ff);
  bottom: 0;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}

.article a {
  color: var(--primary);
  text-decoration: none;

  &,
  &:active,
  &:focus,
  &:hover,
  &:link,
  &:visited {
    transition: color .15s ease-in;
  }

  &:focus,
  &:hover {
    color: darken(var(--primary), 10%);
  }
}

.heading-underline {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;

  &::after {
    border: solid 2px var(--primary);
    content: " ";
    display: block;
    margin: 10px auto;
    width: 35px;
  }
}

.service-icon {
  --icon-size: 40px;
  display: block;
  font-size: var(--icon-size);
  line-height: 1;
  margin: auto;
  max-width: 100%;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.social-btn {
  border-radius: 50%;
  display: inline-block;
  font-size: 1rem;
  height: 40px;
  line-height: 40px;
  margin-bottom: .5rem;
  text-align: center;
  width: 40px;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999;
  border-radius: 10px;

  &:empty {
    display: none;
  }
}

.img-responsive {
  max-width: 100%;
  height: auto;
}
