/** Footer */

.site-footer {
  background-color: #000;
  color: #fff;
  padding: 40px 0 30px;
}

.credit {
  margin-bottom: 0;
  text-align: right;
}

@media screen and (max-width:991px) {
  .credit {
    text-align: center;
  }
}
