/** Hero */

.hero {
  padding: 12rem 0;
  background: var(--brand-primary);
  background: radial-gradient(
    circle at bottom,
    var(--white-off),
    var(--brand-primary)
  );
  border-bottom: 1px solid #dedede;
}

.hero h1 {
  letter-spacing: 3px;
}

.hero h2 {
  letter-spacing: 1px;
}
