/** Hero */

.hero {
  padding: 10rem 0;
  /*background: #3494E6;*/
  /*background: radial-gradient(
    circle at top,
    #EC6EAD,
    #3494E6
  );*/
}

.hero h1 {
  letter-spacing: 4px;
}

.hero h1 span {
  color: #a1a9b0;
}

.hero h2 {
  letter-spacing: 1px;
}
