/** Misc */

.heading-underline {
  color: #353535;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;

  &::after {
    border: solid 2px #3dc9b3;
    content: " ";
    display: block;
    margin: 25px auto;
    width: 35px;
  }
}

.section-padding {
  padding: 90px 0 100px
}

.section-padding-small {
  padding: 30px 0 50px;
}

.swag {
  background: url('../img/keyboard-bg.jpg') no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 50px 0;
}

@media screen and (max-width:1024px) {
  .swag {
    background-attachment: scroll;
  }
}
