/** Social */

.social-btn {
  background: #222;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  height: 40px;
  line-height: 40px;
  margin-bottom: .5rem;
  text-align: center;
  width: 40px;

  &:hover,
  &:focus {
    background: var(--brand-primary);
    color: #fff;
  }
}
