/**
Animations
*/

@-webkit-keyframes scale-in {
  0% {
    opacity             : 0;
    -webkit-transform   : scale(.05);
  }
  100% {
    opacity             : 1;
    -webkit-transform   : scale(1);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-90px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes fadeInLeftLess {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes hovering {
  0% {-webkit-transform:translate(0, 0); }
  50% {-webkit-transform:translate(0, 7px);}
  100% {-webkit-transform: translate(0, 0); }
}

@-webkit-keyframes hoverSmall {
  0% {-webkit-transform:translate(0, 0); }
  50% {-webkit-transform:translate(0, 2px);}
  100% {-webkit-transform: translate(0, 0); }
}

@-webkit-keyframes slide {
  0% { bottom: -18%; opacity: 0; }
  100% { bottom: -15%; opacity: 1; }
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px) scale(1);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateY(20px) scaleX(1.05) scaleY(.92);
  }

  40% {
    -webkit-transform: translateY(10) scaleX(.99) scaleY(1.0);
  }

  60%, 100% {
    -webkit-transform: translateY(0) scale(1);
  }
}

.scale {
  -webkit-animation-name: scale-in;
  -webkit-animation-duration: .6s;
  -webkit-animation-timing-function: cubic-bezier(0.56, -0.01, 0, 1);
  -webkit-animation-delay: 0s;
  -webkit-animation-fill-mode: both;
}

.scale-quick {
  -webkit-animation-name: scale-in;
  -webkit-animation-duration: .5s;
  -webkit-animation-timing-function: cubic-bezier(0.56, -0.01, 0, 1);
  -webkit-animation-delay: 0;
  -webkit-animation-fill-mode: both;
}

.fadeIn {
  animation: fadeInDown .5s cubic-bezier(.05,.35,1,.55);
  -webkit-animation: fadeInDown .5s cubic-bezier(0.5, -0.005, .1, .2);
}

.fadeInUp {
  animation: fadeInUp .5s cubic-bezier(.05,.35,1,.55);
  -webkit-animation: fadeInUp .5s cubic-bezier(.05,.35,1,.55);
}

.left-slide {
  -webkit-animation-name: fadeInLeft;
  -webkit-animation-duration: 1.1s;
  -webkit-animation-timing-function: cubic-bezier(0.7, -0.005, .1, 1);

  -webkit-animation-delay: .25s;

  -webkit-animation-fill-mode: both;
}

.left-slide-less {
  -webkit-animation-name: fadeInLeftLess;
  -webkit-animation-duration: .8s;
  -webkit-animation-timing-function: cubic-bezier(0.7, -0.005, .1, 1);
  -webkit-animation-delay: 1.2s;
  -webkit-animation-fill-mode: both;
}

.hovering {
  -webkit-animation: hovering 3s infinite;
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  animation-delay: 1.3s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation: hovering 3s infinite;
  -moz-animation-timing-function: ease-in-out;
}

.slide {
  animation: slide .9s cubic-bezier(0.5, -0.005, .1, 1);
  -webkit-animation: slide .9s cubic-bezier(0.5, -0.005, .1, 1);
  -moz-animation: slide .9s cubic-bezier(0.5, -0.005, .1, 1);
}

.bounceDown {
  animation: bounceInDown .9s cubic-bezier(0.5, -0.005, .1, 1);
  -webkit-animation: bounceInDown .9s cubic-bezier(0.5, -0.005, .1, 1);
}
